body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  color: #333;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
  margin: 20px auto;
  width: 75%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  margin-top: auto;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.contact-link {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.contact-link a {
  margin-left: 10px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.contact-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  header {
    padding: 10px;
  }

  nav a {
    margin: 0 5px;
  }

  section {
    width: 90%;
    padding: 10px;
  }

  .contact-link {
    display: flex;
    align-items: flex-start;
    align-items: center;
    gap: 10px;
  }

  .contact-link a {
    margin-left: 0;
  }
}